<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web.ui.api</title>

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/web/script/web.js"></script>
    <script src="../../dest/script/web.ui.api.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <!--<web-dropdown ng-model="dropdownOne" class="btn btn-default"></web-dropdown>-->
                <!--<button class="btn btn-default" ng-click="toggleDropdown($event)">Toggle dropdown one</button>-->
            </div>
        </div>
    </div>

    <!--year picker-->
    <div class="row">
        <div class="col-xs-12" ng-init="index=-1; year = date.getFullYear()">
            <span class="lead">outside</span> {{year}}
            <web-year-picker ng-model="year" page-size="12" page-index="index"></web-year-picker>
        </div>
    </div>

    <!--&lt;!&ndash;date picker&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<span class="lead">outside</span> {{date | date: 'yyyy-MM-dd'}}-->
            <!--<web-date-picker ng-model="date"></web-date-picker>-->
        <!--</div>-->
    <!--</div>-->

</div>
</body>
</html>