<div>
    <div>
        <span class="lead">inside</span> {{model | date: 'yyyy-MM-dd'}}
    </div>
    <div>
        <button class="btn btn-default" ng-click="applyModel(model)">apply model</button>
    </div>
    <div>
        <span class="lead">years</span>
        <ul class="pagination">
            <li ng-repeat="y in years" ng-click="year = y" ng-class="{'active': y == year}">
                <a href="">{{y}}</a>
            </li>
        </ul>
    </div>
    <div>
        <span class="lead">year</span> {{year}}
        <button class="btn btn-default" ng-click="year = year - 1">prev</button>
        <button class="btn btn-default" ng-click="year = year + 1">next</button>

    </div>
    <div>
        <span class="lead">month</span> {{month + 1}}
        <button class="btn btn-default" ng-click="month = month - 1">prev</button>
        <button class="btn btn-default" ng-click="month = month + 1">next</button>
    </div>
    <div>
        <span class="lead">date</span> {{date}}
    </div>
    <div>
        <span class="lead">months</span>
        <div class="table-responsive">
            <table class="table">
                <tr ng-repeat="row in months">
                    <td ng-repeat="m in row">
                        <a href="" class="btn btn-default btn-block" ng-click="month = m"
                           ng-class="{'btn-primary': m == month, 'btn-success': m == month && (m != ngModel.getMonth())}">
                            {{m + 1}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <span class="lead">days</span>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Sun</td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                </tr>
                <tr ng-repeat="row in days">
                    <td ng-repeat="d in row">
                        <a href="" ng-if="d.month != month" class="btn btn-default btn-block disabled">
                            {{d.date}}
                        </a>
                        <a href="" ng-if="d.month == month" class="btn btn-default btn-block"
                           ng-click="date = d.date"
                           ng-class="{'btn-primary': d.month == month && d.date == date, 'btn-success': (+model != +ngModel) && (d.month == month && d.date == date)}">
                            {{d.date}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>