<div>
    <span class="lead">year</span> {{model}}
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="pageIndex = pageIndex - 1">pre page</button>
        <button type="button" class="btn btn-default" ng-click="pageIndex = pageIndex + 1">next page</button>
        <button type="button" class="btn btn-default" ng-click="applyModel(model)">apply model</button>
    </div>
    <div class="table-responsive">
        <div class="col-xs-3" ng-repeat="year in years">
            <button type="button" class="btn btn-default btn-block" ng-click="model = year"
                    ng-class="{'btn-primary': year == model}">
                {{year}}
            </button>
        </div>
    </div>
</div>